[alias]
	st = status
	ci = commit
	co = checkout
	put = push origin head
#[branch]
#	autosetuprebase = always
[color]
	ui = auto
[core]
	excludesfile = ~/.cvsignore
	editor = vim
	whitespace = warn
	autocrlf = false
#	safecrlf = true
[help]
	autocorrect = 10
[merge]
	summary = true
[push]
	default = current
[user]
	email = brian.ehmann@pearson.com
	name = Brian Ehmann
