.DS_Store
.vim/plugin/peepopen.vim
*.un~
.vimbundles
*.class
*.log
__init__.pyc

# sbt specific
.sbt/dist/*
.sbt/other
.sbt/*/target/
.sbt/lib_managed/
.sbt/src_managed/
.sbt/project/boot/
.sbt/project/plugins/project/
.sbt/boot/
.sbt/staging/
.sbt/sbt.boot.lock
.sbt/scala-2.10.*
.sbt/scala-2.9.*


# Scala-IDE specific
.scala_dependencies
